/* === RESET STYLES === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    scroll-behavior: smooth;
}

/* === GENERAL STYLES === */
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 64px;
    font-family: "Inter", sans-serif;
    background-color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    overflow: visible;
    min-width: 320px;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
}

/* === HEADER STYLES === */
.header {
    box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.06);
    padding: 0px 0px;
    margin-bottom: 4px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 8px 16px 4px 16px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 0;

}

.header-menu-list {
    display: none;
}

.header-menu-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #1f2937;
    position: relative;
    padding: 20px 0;
    transition: color 0.3s ease;
}

.header-buttons {
    display: flex;
    padding: 3px 0 3px 80px;
}

.header-buttons-list {
    display: flex;
    flex-direction: row;
    margin-right: 24px;
}

.header-buttons-item:nth-child(2) {
    display: none;
}

.header-buttons-item-button {
    outline: none;
    border: 1px solid #008272;
    border-radius: 8px;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    color: #008272;
    background-color: #fff;
    max-height: 36px;
    min-width: 116px;
    transition: background-color 0.8s ease, color 0.8s ease;
}

.header-buttons-item-button2 {
    background-color: #008272;
    color: #fff;
    transition: background-color 0.8s ease, color 0.8s ease;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #259486;
}

.header-menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 0;
    height: 2px;
    background-color: #259486;
    transition: width 0.4s ease;
}

.header-menu-link:hover::after {
    width: 100%;
}

.header-menu-link.active {
    color: #259486;
}

.header-menu-link.active::after {
    width: 100%;
}

.header-buttons-item-button:hover {
    background-color: #259486;
    color: #fff;
}

.header-mobile-menu-button {
    display: block;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    width: 42px;
    height: 42px;
}

.header-mobile-menu-button-icon {
    fill: #2f2f37;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

/* === MOBILE MENU STYLES === */
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #f1fcf9;    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-menu {
    min-width: 320px;
    width: 100%;
    max-width: 376px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    position: fixed;
    top: 0;
    background-color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.header-mobile-menu-header {
    display: flex;
}

.header-mobile-menu-logo {
    padding-top: 13px;
}

.header-mobile-menu-button-close {
    display: block;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    margin-left: auto;
    margin-top: 8px;
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-menu-button-close-icon {
    fill: #667085;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-menu-button-close:hover,
.header-mobile-menu-button-close:focus {
    fill: #259486;
}

.header-mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 60px;
    margin-bottom: 40px;
    
}

.header-mobile-menu-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid #f8f8f8;
    background-color: #f8f8f8;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    color: #1D2939;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 8px;
    
}

.header-mobile-menu-link:hover,
.header-mobile-menu-link:focus {
    background-color: #259486;
    color: #fff;
}

.header-mobile-menu-buttons-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-mobile-menu-buttons-item-button {
    display: none;
        /* Move to activate*/
    outline: none;
    border: 1px solid #008272;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    color: #008272;
    background-color: #fff;
    width: 100%;
    transition: color 0.3s ease;
}

.header-mobile-menu-buttons-item-button2 {
    display: none; /* Move to activate*/
    background-color: #008272;
    color: #fff;
}

.header-mobile-menu-buttons-item-button:hover {
    background-color: #259486;
    color: #fff;
}

.backdrop.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* === INTRO SECTION STYLES === */
.intro {
    background: #fff;
    background-image: url(../fd_img/intro-background-mob.svg);
    background-repeat: no-repeat;
    background-position: right 198px;
    background-size: auto;
    max-width: 375px;
    margin: 0 auto;
}

#intro::before {
    content: '';
    display: block;
    height: 64px;    
    margin-top: -64px;    
}

.intro>.container {
    padding-top: 40px;
}

.intro-subtitle {
    font-family: Noto serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: #1D2939;
    max-width: 267px;
    margin-bottom: 24px;
}

.intro-subtitle-span {
    color: #008272;
}

.intro-content {
    max-width: 198px;
}

.intro-content-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: #4d4d4d;
    margin-bottom: 83px;
}

.intro-content-list {
    width: 267px;
    display: flex;
    gap: 7px;
    padding-bottom: 38px;
}

.intro-content-list-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: #1D2939;
}

.intro-content-list-item-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
}

/* === BENEFITS SECTION STYLES === */
.benefits {
    padding-top: 100px;
}

.benefits-subtitle {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 40px;
}

.benefits-subtitle-textblock {
    padding: 10px;
}

.benefits-subtitle-textblock-subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.27;
    color: #008272;
    margin-bottom: 5px;
}

.benefits-subtitle-textblock-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #344054;
}

.benefits-subtitle-textblock-text-span {
    font-weight: 600;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: top;
}

.benefits-list-item {
    border: 1px solid #D0D5DD;
    border-radius: 16px;
    padding: 32px 24px;
    max-width: 100%;
}

.benefits-list-item:nth-child(odd) {
    background-color: #F7F9FC;
    color: #0d1c38;
}

.benefits-list-item:nth-child(even) {
    background-color: #008272;
    color: #fff;
}

.benefits-list-item-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 24px;
}

.benefits-list-item-textblock-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.benefits-list-item-textblock-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}
.benefits-list-item-textblock-text-list {
    list-style: disc;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    margin-left: 20px;    
}
.benefits-list-item-textblock-text-list-span {
    font-style: italic;
}

/* === ROADMAP SECTION STYLES === */
.roadmap {
    padding-top: 100px;
}

.roadmap>.container {
    padding-left: 0px;
    padding-right: 0px;
}

.roadmap-subtitle {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
}

.roadmap-subtitle-textblock {
    padding: 10px;
}

.roadmap-subtitle-textblock-subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.27;
    color: #008272;
}

.roadmap-content {
    display: flex;
    flex-direction: column;
    gap: 20px;    
    position: relative;
}

.roadmap-content-mvp {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background: #F1FCF9;
    padding-left: 16px;
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 72px;    
}

.roadmap-content-mvp-mainblock {
    display: flex;
    flex-direction: column;
    gap: 24px;   
    margin-bottom: 32px;
}

.roadmap-content-mvp-mainblock-subtitle {
    display: flex;
    gap: 8px;
    border-radius: 10px;
    padding: 15px 14px;
    background-color: #008272;
    color: #fff;
    font-weight: 700;
    font-size: 18px;    
    align-items: center;
}

.roadmap-content-mvp-mainblock-subtitle-icon {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
}

.roadmap-content-mvp-mainblock-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1D2939;    
}

.roadmap-content-mvp-goals-subtitle {
    display: flex;
    gap: 8px;
    align-items: center;    
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #1D2939;
    margin-bottom: 10px;
}

.roadmap-content-mvp-goals-subtitle-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.roadmap-content-mvp-goals-list {    
    font-style: italic;    
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1D2939;            
}

.roadmap-content-mvp-goals-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.roadmap-content-mvp-start {
    position: static;
    margin-left: 61px;  
    margin-bottom: 51px;   
}

.roadmap-content-mvp-start-icon {
    width: 88px;
    height: 27px;
    flex-shrink: 0;
}

.roadmap-content-mvp-road {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 0px;   
}

.roadmap-content-mvp-road-block {
    display: flex;
    flex-direction: column;
    gap: 20px;    
    width: 260px;
    margin-left: 31px;
}

.roadmap-content-mvp-road-block:nth-child(1) {
    margin-bottom: 93px;
}

.roadmap-content-mvp-road-block:nth-child(2) {
    margin-bottom: 61px;
}

.roadmap-content-mvp-road-block:nth-child(3) {
    margin-bottom: 100px;
}

.roadmap-content-mvp-road-block-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #1D2939;
}

.roadmap-content-mvp-road-block-state {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 6px 8px;
    background-color: #008272;
    color: #fff;  
    width: auto;
    align-self: flex-start;
    align-items: center;
}

.roadmap-content-mvp-road-block-state-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
}

.roadmap-content-mvp-road-block-state-value {
    margin-left: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}

.roadmap-content-mvp-road-block-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 210%;    
}

.roadmap-content-mvp-road-block-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.roadmap-content-mvp-road-block-list-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.roadmap-content-mvp-road-block-list-item:not(:last-child) {
        margin-bottom: 12px;
}

.roadmap-content-mvp-road-block-list-item-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.roadmap-content-launch {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background: #F1FCF9;
    padding-left: 16px;
    padding-right: 38px;
    padding-top: 60px;  
    padding-bottom: 10px;    
}

.roadmap-content-launch-mainblock {
    display: flex;
    flex-direction: column;
    gap: 24px;        
    margin-bottom: 24px;
}

.roadmap-content-launch-mainblock-subtitle {
    display: flex;
    gap: 12px;
    border-radius: 10px;
    padding: 16px;
    background-color: #008272;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
}

.roadmap-content-launch-mainblock-subtitle-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.roadmap-content-launch-mainblock-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1D2939;
    margin-bottom: 16px;
}

.roadmap-content-launch-road {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 0px;
}

.roadmap-content-launch-road-block {
    display: flex;
    flex-direction: column;
    gap: 20px;    
    width: 293px;
    margin-left: 31px;
}

.roadmap-content-launch-road-block-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #1D2939;
}

.roadmap-content-launch-road-block-state {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 6px 8px;
    background-color: #008272;
    color: #fff;
    width: auto;
    align-self: flex-start;
    align-items: center;
}

.roadmap-content-launch-road-block-state-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
}

.roadmap-content-launch-road-block-state-value {
    margin-left: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}

.roadmap-content-launch-road-block-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.roadmap-content-launch-road-block-list-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;    
}

.roadmap-content-launch-road-block-list-item:not(:last-child) {
    margin-bottom: 12px;
}

.roadmap-content-launch-road-block-list-item-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-top: 4px;
}

.roadmap-content-postmvp {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background: #F1FCF9;
    padding-left: 47px;
    padding-right: 39px;
    padding-top: 60px;        
}

.roadmap-content-postmvp-mainblock {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.roadmap-content-postmvp-mainblock-subtitle {
    display: flex;
    gap: 12px;
    border-radius: 10px;
    padding: 16px;
    background-color: #008272;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
}

.roadmap-content-postmvp-mainblock-subtitle-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.roadmap-content-postmvp-mainblock-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1D2939;
    margin-bottom: 16px;
}

.roadmap-content-postmvp-goals-subtitle {
    display: flex;
    gap: 8px;
    align-items: center;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #1D2939;
    margin-bottom: 10px;
}

.roadmap-content-postmvp-goals-subtitle-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.roadmap-content-postmvp-goals-list {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1D2939;   
    margin-bottom: 24px; 
}

.roadmap-content-postmvp-goals-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.roadmap-content-postmvp-road {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 0px;    
}

.roadmap-content-postmvp-road-block {
    display: flex;
    flex-direction: column;
    gap: 20px;    
    width: 260px;     
}

.roadmap-content-postmvp-road-block2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 260px;    
}

.roadmap-content-postmvp-road-block:nth-child(1) {
    margin-bottom: 63px;
}

.roadmap-content-postmvp-road-block:nth-child(2) {
    margin-bottom: 82px;
}

.roadmap-content-postmvp-road-block:nth-child(3) {
    margin-bottom: 112px;
}

.roadmap-content-postmvp-road-block:nth-child(4) {
    margin-bottom: 123px;
}

.roadmap-content-postmvp-road-block2 {
    margin-bottom: 106px;
}

.roadmap-content-postmvp-road-block-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: #1D2939;
}

.roadmap-content-postmvp-road-block-state {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 6px 8px;
    background-color: #008272;
    color: #fff;
    width: auto;
    align-self: flex-start;
    align-items: center;
}

.roadmap-content-postmvp-road-block-state-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;    
}

.roadmap-content-postmvp-road-block-state-value {    
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
}

.roadmap-content-postmvp-road-block-state-value2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* margin-left: 8px; */
}

.roadmap-content-postmvp-road-block-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}

.roadmap-content-postmvp-road-block-list-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;    
}

.roadmap-content-postmvp-road-block-list-item:not(:last-child) {
    margin-bottom: 12px;
}

.roadmap-content-postmvp-road-block-list-item-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-top: 4px;
}

.roadmap-content-postmvp-keepgoing-icon {
    position: absolute;
    width: 245px;
    height: 27px;
    flex-shrink: 0;
    top: 4534px;
    right: 15px;    
}

.roadmap-content-snake {
    display: none;
    position: absolute;
    top: 41px;    
    right: 30px;
    flex-shrink: 0;
}

.roadmap-content-snake-tab {
    display: none;    
}

.roadmap-content-snake-mob {    
    position: absolute;
    top: 473px;
    right: 15px;
    flex-shrink: 0;
    visibility: visible;
}

.roadmap-content-icon-roadmap-p1,
.roadmap-content-icon-roadmap-p2,
.roadmap-content-icon-roadmap-p3,
.roadmap-content-icon-roadmap-p4,
.roadmap-content-icon-roadmap-p5,
.roadmap-content-icon-roadmap-p6,
.roadmap-content-icon-roadmap-p7,
.roadmap-content-icon-roadmap-p8,
.roadmap-content-icon-roadmap-p9,
.roadmap-content-icon-roadmap-p10
 {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 310px;    
}

.roadmap-content-icon-roadmap-p1 {
   top: 457px;   
}

.roadmap-content-icon-roadmap-p2 {
    top: 790px;
}

.roadmap-content-icon-roadmap-p3 {
    top: 1121px;    
}

.roadmap-content-icon-roadmap-p4 {
    top: 1452px;
}

.roadmap-content-icon-roadmap-p5 {
    top: 1785px;    
}

.roadmap-content-icon-roadmap-p6 {
    top: 2338px;    
}

.roadmap-content-icon-roadmap-p7 {
    top: 3204px;    
}

.roadmap-content-icon-roadmap-p8 {
    top: 3537px;    
}

.roadmap-content-icon-roadmap-p9 {
    top: 3867px;    
}

.roadmap-content-icon-roadmap-p10 {
    top: 4198px;    
}

.roadmap-content-icon-roadmap-a1-mob,
.roadmap-content-icon-roadmap-a2-mob,
.roadmap-content-icon-roadmap-a3-mob,
.roadmap-content-icon-roadmap-a4-mob,
.roadmap-content-icon-roadmap-a5-mob,
.roadmap-content-icon-roadmap-a6-mob,
.roadmap-content-icon-roadmap-a7-mob,
.roadmap-content-icon-roadmap-a8-mob,
.roadmap-content-icon-roadmap-a9-mob,
.roadmap-content-icon-roadmap-a10-mob {
    position: absolute;
    width: 20px;
    height: 20px;    
    right: 178px;
    display: block;
}

.roadmap-content-icon-roadmap-a1-tab,
.roadmap-content-icon-roadmap-a2-tab,
.roadmap-content-icon-roadmap-a3-tab,
.roadmap-content-icon-roadmap-a4-tab,
.roadmap-content-icon-roadmap-a5-tab,
.roadmap-content-icon-roadmap-a6-tab,
.roadmap-content-icon-roadmap-a7-tab,
.roadmap-content-icon-roadmap-a8-tab,
.roadmap-content-icon-roadmap-a9-tab,
.roadmap-content-icon-roadmap-a10-tab,
.roadmap-content-icon-roadmap-a11-tab,
.roadmap-content-icon-roadmap-a12-tab,
.roadmap-content-icon-roadmap-a13-tab,
.roadmap-content-icon-roadmap-a14-tab,
.roadmap-content-icon-roadmap-a15-tab,
.roadmap-content-icon-roadmap-a16-tab,
.roadmap-content-icon-roadmap-a17-tab,
.roadmap-content-icon-roadmap-a18-tab,
.roadmap-content-icon-roadmap-a19-tab,
.roadmap-content-icon-roadmap-a20-tab  {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 178px;
    display: none;
}

.roadmap-content-icon-roadmap-a1,
.roadmap-content-icon-roadmap-a2,
.roadmap-content-icon-roadmap-a3,
.roadmap-content-icon-roadmap-a4,
.roadmap-content-icon-roadmap-a5,
.roadmap-content-icon-roadmap-a6,
.roadmap-content-icon-roadmap-a7,
.roadmap-content-icon-roadmap-a8,
.roadmap-content-icon-roadmap-a9,
.roadmap-content-icon-roadmap-a10,
.roadmap-content-icon-roadmap-a11,
.roadmap-content-icon-roadmap-a12,
.roadmap-content-icon-roadmap-a13,
.roadmap-content-icon-roadmap-a14,
.roadmap-content-icon-roadmap-a15,
.roadmap-content-icon-roadmap-a16 {
    position: absolute;
    width: 20px;
    height: 20px;
    display: none;    
}

.roadmap-content-icon-roadmap-a1-mob {
    top: 465px;    
}

.roadmap-content-icon-roadmap-a2-mob {
    top: 797px;
}

.roadmap-content-icon-roadmap-a3-mob {
    top: 1129px;
}

.roadmap-content-icon-roadmap-a4-mob {
    top: 1461px;
}

.roadmap-content-icon-roadmap-a5-mob {
    top: 1793px;
}

.roadmap-content-icon-roadmap-a6-mob {
    top: 2346px;
}

.roadmap-content-icon-roadmap-a7-mob {
    top: 3212px;
}

.roadmap-content-icon-roadmap-a8-mob {
    top: 3544px;
}

.roadmap-content-icon-roadmap-a9-mob {
    top: 3875px;
}

.roadmap-content-icon-roadmap-a10-mob {
    top: 4206px;
}


/* === TEAM SECTION STYLES === */
.team {
    padding-top: 100px;
}

.team-subtitle {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 40px;
}

.team-subtitle-textblock {
    padding: 10px;
}

.team-subtitle-textblock-subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.27;
    color: #008272;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 20px;
    align-items: top;
    justify-content: center;
}

.team-list-item {
    position: relative;
    border-radius: 12px;
    max-width: calc((100% - 15px) / 2);
    overflow: hidden;
}

.team-list-item-info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px;
    justify-content: left;
    align-content: end;
    width: 100%;
    height: 112px;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, rgba(15, 15, 15, 0.7) 100%);
}

.team-list-item-info-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFF;
    margin-bottom: 4px;
}

.team-list-item-info-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #FFF;
}

/* === CONTACSUS SECTION STYLES === */
.contactus {
    padding-top: 100px;
}

.contactus-subtitle {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 40px;
    max-width: 100%;
}

.contactus-subtitle-textblock {
    padding: 10px;
}

.contactus-subtitle-textblock-subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.27;
    color: #008272;
}

.contactus-subtitle-textblock-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #344054;
}

.contactus-formcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 27px;    
    margin: 0 auto;
}

.contactus-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contactus-form-input-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #344054;
}

.contactus-form-input {        
    padding: 10px;
    border: 2px solid #f8f8f8;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 14px; 
    color: #344054;
    transition: border 0.3s ease;
}

.contactus-form-input:focus {
    border: 2px solid #008272;    
    outline: none;
}

.contactus-form-textarea {        
    height: 270px;
    padding: 10px;
    border: 2px solid #f8f8f8;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 16px;  
    color: #344054;
    transition: border 0.3s ease;
    resize: none;
}

.contactus-form-textarea:focus {
    border: 2px solid #008272;
    outline: none;
}

.contactus-form-button-submit {
    background-color: #008272;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contactus-form-button-submit:hover,
.contactus-form-button-submit:focus {
    background-color: #259486;
}

.input-error {
    border-color: rgb(118, 30, 30);
}

.error-message {
    color: rgb(118, 30, 30);
    font-size: 14px;
    margin-top: 4px;
}

/* === FOOTER STYLES === */
.footer {
    background: #008272;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 100px;
}

.footer-content-block {
    display: flex;
    flex-direction: column;
}

.footer-info {
    margin-bottom: 30px;
}

.footer-info-logo {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-info-logo-icon {
    fill: #FFF;
    flex-shrink: 0;
}

.footer-info-text {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

.footer-soc-list-item {
    background: #FFF;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    padding: 4px;
}

.footer-soc-list-item-icon {
    fill: #008272;
    flex-shrink: 0;
}

.footer-contacts {
    max-width: 100%;
}

.footer-contacts-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.27;
    margin-bottom: 15px;
}

.footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.footer-contacts-list-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}


.footer-line-container {
    position: relative;
    text-align: center;
    margin: 0 0 20px 0;
}

.footer-line-container::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.5;
}

.footer-copyright {
    font-weight: 400;
    font-size: 15px;
}

/* === TAB STYLES === */
@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        padding: 0 20px;
        margin: 0 auto;
    }

    .header-container {
        padding: 10px 20px;
    }

    .header-logo {
        margin-right: 20px;
        flex-shrink: 0;
    }

    .header-menu-list {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .header-buttons {
        margin-left: auto;
        padding: 0;
    }

    .header-buttons-list {
        gap: 10px;
        margin-right: 0;
        /* margin-right: 24px; activate with Get PichDeck */
    }

    .header-buttons-item:nth-child(2) {
        display: none;
        /* display: flex; activate with Get PichDeck */
    }

    .header-buttons-item-button {
        padding: 12px 16px;
        max-height: 44px;
    }

    .header-mobile-menu-button {
        display: none;
    }

    .intro {
        background-image: url(../fd_img/intro-background-tab.svg);
        background-position: 300px 144px;
        max-width: 768px;
    }

    .intro>.container {
        padding-top: 90px;
    }

    .intro-subtitle {
        font-size: 54px;
        letter-spacing: 0.02em;
        max-width: 568px;
        margin-bottom: 32px;
    }

    .intro-content {
        max-width: 326px;
    }

    .intro-content-text {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 80px;
    }

    .intro-content-list {
        width: 373px;
        gap: 30px;
        padding-bottom: 113px;
    }

    .intro-content-list-item {
        font-size: 14px;
        line-height: 1.71;
        padding-top: 8px;
    }

    .intro-content-list-item-icon {
        width: 32px;
        height: 32px;
    }

    .benefits {
        padding-top: 60px;
    }

    .benefits-subtitle-textblock-subtitle {
        font-size: 36px;
        line-height: 1.3;
        margin-bottom: 5px;
    }

    .benefits-subtitle-textblock-text {
        font-size: 18px;
    }

    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 24px;
    }

    .benefits-list-item {
        max-width: calc((100% - 20px) / 2);
    }

    .roadmap>.container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .roadmap-subtitle {
        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .roadmap-subtitle-textblock-subtitle {
        font-size: 36px;
        line-height: 1.3;
    }

    .roadmap-content {
        gap: 38px;
    } 

    .roadmap-content-mvp {
        flex-direction: row;
        padding-left: 24px;
        padding-top: 24px;
        padding-right: 0;
        border-radius: 16px;     
    }

    .roadmap-content-mvp-mainblock {    
        max-width: 280px;
        margin-right: 105px;
    }
    
    .roadmap-content-mvp-mainblock-subtitle {
        gap: 12px;
        padding: 16px;
        font-size: 20px;
    }

    .roadmap-content-mvp-mainblock-subtitle-icon {
        width: 32px;
        height: 32px;
    }

    .roadmap-content-mvp-mainblock-text {
        margin-bottom: 16px;        
    }

    .roadmap-content-mvp-start {
        position: absolute;
        left: 410px; 
        top: 24px;
        margin: 0;
    }  

    .roadmap-content-mvp-road {
        flex-direction: column;
        padding-top: 78px;
        justify-content: center;        
    }

    .roadmap-content-mvp-road-block {        
        margin-left: 0;  
        margin-bottom: 0;        
    }

    .roadmap-content-launch {
        flex-direction: row;
        padding-left: 24px;
        padding-top: 24px;
        padding-right: 0;
        padding-bottom: 36px;
        border-radius: 16px;
    }

    .roadmap-content-launch-mainblock {
        max-width: 280px;
        margin-bottom: 0px;        
        margin-right: 105px;
    }

    .roadmap-content-launch-road {
        flex-direction: column;
        justify-content: left;
    }

    .roadmap-content-launch-road-block {                
        margin-left: 0;
        margin-top: 18px;
        width: 260px;                
    }

    .roadmap-content-postmvp {
        flex-direction: row;
        padding-left: 24px;
        padding-top: 24px;
        padding-right: 0;
        padding-bottom: 36px;
        border-radius: 16px;
    }

    .roadmap-content-postmvp-road {
        /*justify-content: center;*/
        margin-top: 10px;
    }
    
    .roadmap-content-postmvp-mainblock {        
        max-width: 280px;
        margin-right: 105px;
    }

    .roadmap-content-postmvp-mainblock-text {
        margin-bottom: 0;
    }

    .roadmap-content-postmvp-goals-list {
        margin-bottom: 0;
    }

    .roadmap-content-postmvp-road {
        margin-top: 10px;
        flex-direction: column;
        gap: 0px;
        row-gap: 0px;    
    }

    .roadmap-content-postmvp-keepgoing-icon {
        top: 3368px; 
        right: 24px;
    }

    .roadmap-content-snake-tab {
        display: block;
        position: absolute;
        top: 60px;
        right: 24px;
        flex-shrink: 0;
    }

    .roadmap-content-snake-mob {
        display: none;
    }
    
    .roadmap-content-snake {
        display: none;
    }

    .roadmap-content-icon-roadmap-p1,
    .roadmap-content-icon-roadmap-p2,
    .roadmap-content-icon-roadmap-p3,
    .roadmap-content-icon-roadmap-p4,
    .roadmap-content-icon-roadmap-p5,
    .roadmap-content-icon-roadmap-p6,
    .roadmap-content-icon-roadmap-p7,
    .roadmap-content-icon-roadmap-p8,
    .roadmap-content-icon-roadmap-p9,
    .roadmap-content-icon-roadmap-p10 {
        right: 334px;
    }
    .roadmap-content-icon-roadmap-p1 {
        top: 44px;
    }
    
    .roadmap-content-icon-roadmap-p2 {
        top: 375px;
    }
    
    .roadmap-content-icon-roadmap-p3 {
        top: 707px;
    }
    
    .roadmap-content-icon-roadmap-p4 {
        top: 1038px;
    }
    
    .roadmap-content-icon-roadmap-p5 {
        top: 1371px;
    }
    
    .roadmap-content-icon-roadmap-p6 {
        top: 1704px;
    }
    
    .roadmap-content-icon-roadmap-p7 {
        top: 2035px;
    }
    
    .roadmap-content-icon-roadmap-p8 {
        top: 2369px;
    }
    
    .roadmap-content-icon-roadmap-p9 {
        top: 2700px;
    }
    
    .roadmap-content-icon-roadmap-p10 {
        top: 3031px;
    }

    .roadmap-content-icon-roadmap-a1-tab,
    .roadmap-content-icon-roadmap-a2-tab,
    .roadmap-content-icon-roadmap-a3-tab,
    .roadmap-content-icon-roadmap-a4-tab,
    .roadmap-content-icon-roadmap-a5-tab,
    .roadmap-content-icon-roadmap-a6-tab,
    .roadmap-content-icon-roadmap-a7-tab,
    .roadmap-content-icon-roadmap-a8-tab,
    .roadmap-content-icon-roadmap-a9-tab,
    .roadmap-content-icon-roadmap-a10-tab,
    .roadmap-content-icon-roadmap-a11-tab,
    .roadmap-content-icon-roadmap-a12-tab,
    .roadmap-content-icon-roadmap-a13-tab,
    .roadmap-content-icon-roadmap-a14-tab,
    .roadmap-content-icon-roadmap-a15-tab,
    .roadmap-content-icon-roadmap-a16-tab,
    .roadmap-content-icon-roadmap-a17-tab,
    .roadmap-content-icon-roadmap-a18-tab,
    .roadmap-content-icon-roadmap-a19-tab,
    .roadmap-content-icon-roadmap-a20-tab {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 199px;
        display: block;
    }
        
    .roadmap-content-icon-roadmap-a1-tab {
        top: 52px;
    }
    .roadmap-content-icon-roadmap-a2-tab {
        right: 17px;
        top: 210px;
    }
    .roadmap-content-icon-roadmap-a3-tab {
        top: 383px;
    }
    .roadmap-content-icon-roadmap-a4-tab {
        right: 383px;
        top: 560px;
    }
    .roadmap-content-icon-roadmap-a5-tab {
        top: 715px;
    }
    .roadmap-content-icon-roadmap-a6-tab {
        right: 16px;
        top: 880px;
    }
    .roadmap-content-icon-roadmap-a7-tab {
        top: 1046px;
    }
    .roadmap-content-icon-roadmap-a8-tab {
        right: 384px;
        top: 1220px;
    }
    .roadmap-content-icon-roadmap-a9-tab {
        top: 1379px;
    }
    .roadmap-content-icon-roadmap-a10-tab {
        right: 16px;
        top: 1545px;
    }
    .roadmap-content-icon-roadmap-a11-tab {
        top: 1712px;
    }
    .roadmap-content-icon-roadmap-a12-tab {
        right: 383px;
        top: 1885px;
    }
    .roadmap-content-icon-roadmap-a13-tab {
        top: 2044px;
    }
    .roadmap-content-icon-roadmap-a14-tab {
        right: 16px;
        top: 2215px;
    }
    .roadmap-content-icon-roadmap-a15-tab {
        top: 2376px;
    }
    .roadmap-content-icon-roadmap-a16-tab {
        right: 383px;
        top: 2540px;
    }
    .roadmap-content-icon-roadmap-a17-tab {
        top: 2708px;
    }
    .roadmap-content-icon-roadmap-a18-tab {
        right: 16px;
        top: 2860px;
    }
    .roadmap-content-icon-roadmap-a19-tab {
        top: 3039px;
    }
    .roadmap-content-icon-roadmap-a20-tab {
        right: 383px;
        top: 3200px;
    }
        
    .roadmap-content-icon-roadmap-a1-mob,
    .roadmap-content-icon-roadmap-a2-mob,
    .roadmap-content-icon-roadmap-a3-mob,
    .roadmap-content-icon-roadmap-a4-mob,
    .roadmap-content-icon-roadmap-a5-mob,
    .roadmap-content-icon-roadmap-a6-mob,
    .roadmap-content-icon-roadmap-a7-mob,
    .roadmap-content-icon-roadmap-a8-mob,
    .roadmap-content-icon-roadmap-a9-mob,
    .roadmap-content-icon-roadmap-a10-mob {
        display: none;
    }
        
    .roadmap-content-icon-roadmap-a1,
    .roadmap-content-icon-roadmap-a2,
    .roadmap-content-icon-roadmap-a3,
    .roadmap-content-icon-roadmap-a4,
    .roadmap-content-icon-roadmap-a5,
    .roadmap-content-icon-roadmap-a6,
    .roadmap-content-icon-roadmap-a7,
    .roadmap-content-icon-roadmap-a8,
    .roadmap-content-icon-roadmap-a9,
    .roadmap-content-icon-roadmap-a10,
    .roadmap-content-icon-roadmap-a11,
    .roadmap-content-icon-roadmap-a12,
    .roadmap-content-icon-roadmap-a13,
    .roadmap-content-icon-roadmap-a14,
    .roadmap-content-icon-roadmap-a15,
    .roadmap-content-icon-roadmap-a16 {
        display: none;
    }
    
    .team-subtitle-textblock-subtitle {
        font-size: 36px;
        line-height: 1.3;
    }

    .team-list {
        gap: 20px;
    }

    .team-list-item {
        max-width: calc((100% - 2*20px) / 3);
    }

    .team-list-item-info {
        padding: 14px;
        height: 137px;
    }

    .team-list-item-info-subtitle {
        font-size: 18px;
        line-height: 1.56;
    }

    .contactus-subtitle-textblock-subtitle {
        font-size: 36px;
        line-height: 1.3;
    }

    .contactus-formcontainer {
        max-width: 600px;
    }

    .contactus-form-input-label {
        font-size: 18px;
    }
    .contactus-form-input {
        font-size: 16px;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .footer-content-block {
        display: flex;
        flex-direction: row;
    }

    .footer-info {
        margin-right: 250px;
    }

    .footer-contacts-subtitle {
        font-size: 23px;
        line-height: 1.3;
    }

    .footer-contacts-list {
        margin-bottom: 30px;
    }

    .footer-line-container {
        margin: 0 0 27px 0;
    }
}

/* === DESKTOP STYLES === */
@media screen and (min-width: 1280px) {

    .container {
        max-width: 1280px;
        padding: 0 40px;
    }

    .header-container {
        padding: 10px 40px;
    }

    .header-logo {
        margin-right: 40px;
    }

    .header-menu-list {
        gap: 32px;
    }

    .intro {
        background-image: url(../fd_img/intro-background.svg);
        background-position: 350px 96px;
        max-width: 1280px;
    }

    .intro>.container {
        padding-top: 99px;
        padding-bottom: 0;        
        padding-right: 0;
    }

    .intro-subtitle {
        font-size: 64px;
    }

    .intro-content {
        max-width: 385px;
    }

    .intro-content-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.6;
    }

    .intro-content-list {
        padding-bottom: 146px;
    }

    .benefits {
        padding-top: 100px;
    }

    .benefits-subtitle {
        margin-bottom: 60px;
    }

    .benefits-subtitle-textblock-subtitle {
        font-size: 46px;
    }

    .benefits-subtitle-textblock-text {
        font-size: 20px;
    }

    .benefits-list {
        gap: 20px;
        row-gap: 32px;
    }

    .benefits-list-item {
        max-width: calc((100% - 3*20px) / 4);
        padding: 20px 19px;   /* my_Ver  */

    }

    .benefits-list-item-icon {
        width: 60px;
        height: 60px;
        margin-bottom: 16px;    /* my_Ver  */
    }

    .benefits-list-item-textblock-subtitle {
        font-size: 20px;
        margin-bottom: 16px;    /* my_Ver  */
    }

    .benefits-list-item-textblock-text {
        line-height: 1.6;
        font-weight: 400; /* my_Ver  */
        font-size: 17px; /* my_Ver  */        
    }
    
    .benefits-list-item-textblock-text-list {
        font-size: 17px;        
        margin-left: 10px;    
    }
    
    .benefits-list-item:nth-child(1) {
    padding-bottom: 60px;
    }

    .roadmap>.container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .roadmap-subtitle {
        margin-bottom: 60px;
    }

    .roadmap-subtitle-textblock-subtitle {
        font-size: 46px;
    }

    .roadmap-content {
        gap: 33px;
    } 

    .roadmap-content-mvp {
        flex-direction: row;
        padding-left: 30px;
        padding-top: 30px;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .roadmap-content-mvp-mainblock {    
        max-width: 321px;
        gap: 40px;
        margin-bottom: 0; 
        margin-right: 209px;       
    }

    .roadmap-content-mvp-mainblock-text {
        margin-bottom: 0;
    }
    
    .roadmap-content-mvp-start {
        position: absolute;
        top: 30px;
        left: 444px;
    }
    
    .roadmap-content-mvp-road {
        flex-direction: row;
        justify-content: left;
        padding-top: 42px;
        gap: 60px;
        row-gap: 71px;
    }

    .roadmap-content-mvp-road-block:nth-child(1) {
        margin-bottom: 0px;
    }

    .roadmap-content-mvp-road-block:nth-child(2),
    .roadmap-content-mvp-road-block:nth-child(3),
    .roadmap-content-mvp-road-block:nth-child(4) {     
        margin-bottom: 0;
    }

    .roadmap-content-mvp-road-block:nth-child(3) {
        order: 4;
    }
    
    .roadmap-content-mvp-road-block:nth-child(4) {
        order: 3;
    }
    
    
    .roadmap-content-launch {
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 45px;;
    }

    .roadmap-content-launch-mainblock {
        max-width: 321px;        
        margin-right: 208px;
    }

    .roadmap-content-launch-road-block {                
        margin-left: 0;
        margin-top: 18;
        width: 372px;                
    }

    .roadmap-content-postmvp {        
        padding-left: 30px;
        padding-top: 30px;
        padding-right: 0;        
    }

    .roadmap-content-postmvp-mainblock {
        max-width: 321px;
        margin-right: 208px;
    }

    .roadmap-content-postmvp-road {
        flex-direction: row;
        gap: 60px;
        row-gap: 73px;
        justify-content:left;
        margin-top: 0;
    }

    .roadmap-content-postmvp-road-block:nth-child(1) {
        order: 2;
    }
    
    .roadmap-content-postmvp-road-block:nth-child(2) {
        order: 1;
    }
    
    .roadmap-content-postmvp-road-block:nth-child(n+3),
    .roadmap-content-postmvp-road-block2 {
        order: 3;
    }

    .roadmap-content-postmvp-road-block:nth-child(1),
    .roadmap-content-postmvp-road-block:nth-child(2),
    .roadmap-content-postmvp-road-block:nth-child(3),
    .roadmap-content-postmvp-road-block:nth-child(4){    
        margin-bottom: 0;
    }

    /* .roadmap-content-postmvp-road-block2:nth-child(1) {
        order: 1;
    }     */

    .roadmap-content-postmvp-road-block2 {
    margin-top: 72px;
    margin-bottom: 128px;
    }

    .roadmap-content-postmvp-keepgoing-icon {
        top: 2052px;
        right: 30px;
    }

    .roadmap-content-icon-roadmap-p1 {
        top: 25px;
        right: 620px;
    }

    .roadmap-content-icon-roadmap-p2 {
        top: 25px;
        right: 300px;
    }

    .roadmap-content-icon-roadmap-p3 {
        top: 357px;
        right: 300px;
    }

    .roadmap-content-icon-roadmap-p4 {
        top: 357px;
        right: 620px;
    }

    .roadmap-content-icon-roadmap-p5 {
        top: 695px;
        right: 620px;
    }

    .roadmap-content-icon-roadmap-p6 {
        top: 1033px;
        right: 300px;
    }

    .roadmap-content-icon-roadmap-p7 {
        top: 1033px;
        right: 620px;
    }

    .roadmap-content-icon-roadmap-p8 {
        top: 1370px;
        right: 620px;
    }

    .roadmap-content-icon-roadmap-p9 {
        top: 1370px;
        right: 300px;
    }

    .roadmap-content-icon-roadmap-p10 {
        top: 1708px;
        right: 620px;
    }

    .roadmap-content-icon-roadmap-a1,
    .roadmap-content-icon-roadmap-a2,
    .roadmap-content-icon-roadmap-a3,
    .roadmap-content-icon-roadmap-a4,
    .roadmap-content-icon-roadmap-a5,
    .roadmap-content-icon-roadmap-a6,
    .roadmap-content-icon-roadmap-a7,
    .roadmap-content-icon-roadmap-a8,
    .roadmap-content-icon-roadmap-a9,
    .roadmap-content-icon-roadmap-a10,
    .roadmap-content-icon-roadmap-a11,
    .roadmap-content-icon-roadmap-a12,
    .roadmap-content-icon-roadmap-a13,
    .roadmap-content-icon-roadmap-a14,
    .roadmap-content-icon-roadmap-a15,
    .roadmap-content-icon-roadmap-a16 {
        position: absolute;
        width: 20px;
        height: 20px;
        display: block;
    }

    .roadmap-content-icon-roadmap-a1 {
        top: 33px;
        right: 468px;
    }

    .roadmap-content-icon-roadmap-a2 {
        top: 33px;
        right: 155px;
    }

    .roadmap-content-icon-roadmap-a3 {
        top: 199px;
        right: 22px;
    }

    .roadmap-content-icon-roadmap-a4 {
        top: 365px;
        right: 155px;
    }

    .roadmap-content-icon-roadmap-a5 {
        top: 365px;
        right: 468px;
    }

    .roadmap-content-icon-roadmap-a6 {
        top: 534px;
        right: 664px;
    }

    .roadmap-content-icon-roadmap-a7 {
        top: 703px;
        right: 341px;
    }

    .roadmap-content-icon-roadmap-a8 {
        top: 875px;
        right: 22px;
    }

    .roadmap-content-icon-roadmap-a9 {
        top: 1042px;
        right: 155px;
    }

    .roadmap-content-icon-roadmap-a10 {
        top: 1042px;
        right: 468px
    }

    .roadmap-content-icon-roadmap-a11 {
        top: 1210px;
        right: 664px;
    }

    .roadmap-content-icon-roadmap-a12 {
        top: 1378px;
        right: 468px;
    }

    .roadmap-content-icon-roadmap-a13 {
        top: 1378px;
        right: 155px;
    }

    .roadmap-content-icon-roadmap-a14 {
        top: 1548px;
        right: 22px;
    }

    .roadmap-content-icon-roadmap-a15 {
        top: 1716px;
        right: 341px;
    }

    .roadmap-content-icon-roadmap-a16 {
        top: 1890px;
        right: 664px;
    }

    .roadmap-content-icon-roadmap-a1-tab,
    .roadmap-content-icon-roadmap-a2-tab,
    .roadmap-content-icon-roadmap-a3-tab,
    .roadmap-content-icon-roadmap-a4-tab,
    .roadmap-content-icon-roadmap-a5-tab,
    .roadmap-content-icon-roadmap-a6-tab,
    .roadmap-content-icon-roadmap-a7-tab,
    .roadmap-content-icon-roadmap-a8-tab,
    .roadmap-content-icon-roadmap-a9-tab,
    .roadmap-content-icon-roadmap-a10-tab,
    .roadmap-content-icon-roadmap-a11-tab,
    .roadmap-content-icon-roadmap-a12-tab,
    .roadmap-content-icon-roadmap-a13-tab,
    .roadmap-content-icon-roadmap-a14-tab,
    .roadmap-content-icon-roadmap-a15-tab,
    .roadmap-content-icon-roadmap-a16-tab,
    .roadmap-content-icon-roadmap-a17-tab,
    .roadmap-content-icon-roadmap-a18-tab,
    .roadmap-content-icon-roadmap-a19-tab,
    .roadmap-content-icon-roadmap-a20-tab  {
        display: none;
    }

    .roadmap-content-icon-roadmap-a1-mob,
    .roadmap-content-icon-roadmap-a2-mob,
    .roadmap-content-icon-roadmap-a3-mob,
    .roadmap-content-icon-roadmap-a4-mob,
    .roadmap-content-icon-roadmap-a5-mob,
    .roadmap-content-icon-roadmap-a6-mob,
    .roadmap-content-icon-roadmap-a7-mob,
    .roadmap-content-icon-roadmap-a8-mob,
    .roadmap-content-icon-roadmap-a9-mob,
    .roadmap-content-icon-roadmap-a10-mob {        
        display: none;
    }

    .roadmap-content-snake {
        display: block;
    }
    
    .roadmap-content-snake-mob {
            display: none;
    }

    .roadmap-content-snake-tab {
        display: none;
    }

    .team-subtitle {
        margin-bottom: 60px;
    }

    .team-subtitle-textblock-subtitle {
        font-size: 46px;
    }

    .team-list-item-info {
        padding: 20px;
        height: 211px;
    }

    .team-list-item-info-subtitle {
        font-size: 28px;
        line-height: 1.21;
    }

    .team-list-item-info-text {
        font-size: 16px;
        line-height: 1.87;
    }

    .contactus-subtitle {
        margin-bottom: 60px;
    }

    .contactus-subtitle-textblock-subtitle {
        font-size: 46px;
    }

    .footer-info {
        margin-right: 500px;
    }
}